messaging_app/__pycache__/__init__.cpython-313.pyc
messaging_app/__pycache__/settings.cpython-313.pyc
messaging_app/__pycache__/urls.cpython-313.pyc
chats/__pycache__/
chats/migrations/0001_initial.py
chats/migrations/__pycache__/
env_win
env_win/
